*{
    margin: 0px;
    padding: 0px;
}

/* BODY  */

body, main{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

.headboard{
    height: 69px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo img{
    height: 50px;
    margin-left: 10px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about a{
    color: seashell;
    text-decoration: underline;
    margin: 15px;
}

/* MAIN */

.central{
    position: relative;
    top: 70px;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.img-central{
    height: 700px;
    width: 1200px;
}

.banner{
    position: absolute;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner h2, h4{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.encabezado{
    position: relative;
    margin-top: 250px;
    width: 100%;
    text-align: center;
}

/* GALLERY */

.gallery{
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.gallery img{
    height: 200px;
    width: 300px;
    padding-bottom: 10px;
}

.gallery div{
    padding: 15px;
}

/* LOCATIONS */

.locations{
    position: relative;
    top: 50px;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.img-locations{
    height: 500px;
    width: 1200px;
}

.address{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.address div{
    width: 300px;
    background-color: black;
    opacity: 1;
    margin: 15px 20px 0px 20px;
    padding: 20px 0px;
}

.address div p{
    padding: 20px;
}


/* FOOTER */

footer{
    position: relative;
    margin-top: 30px;
    bottom: 30px;
    left: 20px;
    text-align: left;
}