*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    opacity: 0.9;
}

/* BODY  */

body, main{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

.headboard{
    position: fixed;
    top: 0px;
    height: 69px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid seashell;
    opacity: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo img{
    height: 50px;
    margin-left: 10px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.about a{
    color: seashell;
    text-decoration: underline;
    margin-left: 15px;
}

/* MAIN */

.central{
    height: 700px;
    max-width: 1200px;
    width: 100%;
    background-image: url(img/img-mission-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    top: 70px;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.banner{
    opacity:1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner h2, h4{
    padding-top: 10px;
    padding-bottom: 10px;
}

.encabezado{
    position: relative;
    margin-top: 150px;
    width: 100%;
    text-align: center;
}

/* GALLERY */

.gallery{
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.gallery img{
    height: 200px;
    width: 300px;
    padding-bottom: 10px;
}

.gallery div{
    padding: 15px;
}

/* LOCATIONS */

.locations{
    height: 500px;
    max-width: 1200px;
    width: 100%;
    background-image: url(img/img-locations-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 50px;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.address{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .address div{
    width: 300px;
    opacity: 1;
    margin: 15px 20px 0px 20px;
    padding: 20px 0px;
} */

.address div p{
    padding: 20px;
}

/* CONTACT */

.contact{
    position: relative;
    top: 50px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* FOOTER */

footer{
    position: relative;
    margin-top: 100px;
    bottom: 30px;
}

footer p {
    margin-left: 20px;
    text-align: left;
}